 /* Colors: https://developer.blackberry.com/design/bb10/color.html */

.Character {
  display: inline-block;
  cursor: pointer;
}

.Character-keyword {
  font-size: .3rem;
  max-width: 1rem;
  display: flex;
  justify-content: center;
  transition: all .3s ease-in-out;
  /* overflow: hidden; */
  overflow: visible;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  text-transform: lowercase;
  opacity: 0;
  margin-bottom: -4px;
  color: #dcd427;
}

.Character-hanviet {
  font-size: .3rem;
  max-width: 1rem;
  display: flex;
  justify-content: center;
  transition: all .3s ease-in-out;
  overflow: visible;
  white-space: nowrap;
  text-transform: lowercase;
  opacity: 0;
  margin-bottom: -4px;
  color: #ff3333;
}

.Character-pinyin {
  font-size: .3rem;
  max-width: 1rem;
  text-align: center;
  transition: all .2s ease-in-out;
  margin-bottom: -10px;
}


.Character-pinyin-level-0 {

}

.Character-pinyin-level-1 {
  opacity: .75;
}

.Character-pinyin-level-2 {
  opacity: .5;
}

.Character-pinyin-level-3 {
  opacity: .25;
}

.Character-pinyin-level-4 {
  opacity: 0;
}

.Character-char {
  transition: all .3s ease-in-out;
}

.Character:hover .Character-keyword,
.Character:hover .Character-hanviet,
.Character:hover .Character-pinyin:hover {
  opacity: 1;
}

.Character:hover .Character-char {
  color: #0092cc;
}

.Character-line-break {
  display: block;
  margin-bottom: 60px;
}
