.DictPane {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 22px;
  padding-left: 0px;
  // min-width: 0 is necessary so that the white-space: nowrap doesn't break flexbox layout
  // ref: https://stackoverflow.com/a/38224283
  // min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DictPane-hanzi {
  color: var(--primary-color);
  margin-right: 8px;
}

.DictPane-hanviet {
  color: var(--tertiary-color);
  margin-right: 8px;
}

.DictPane-info {
  display: flex;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden;
  margin-top: 16px;
  padding-top: 12px;
  border-top: 1px solid var(--divider-color);
}

.DictPane-line {
  margin-top: 8px;
}

.DictPane-pinyin {
  display: inline;
  color: var(--secondary-color);
  margin-right: 8px;
}

.DictPane-meaning {
  flex: 1;
  display: inline;
  color: var(--text-color);
}

.DictPane-separator {
  opacity: .5;
}

.DictPane-clickable {
  cursor: pointer;
}
