.DictPane {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
  // background-color: rgba(0, 0, 0, .075);
  padding: 20px;
  // min-width: 0 is necessary so that the white-space: nowrap doesn't break flexbox layout
  // ref: https://stackoverflow.com/a/38224283
  min-width: 0;
}

.DictPane-hanzi {
  color: #0092cc;
  margin-right: 8px;
}

.DictPane-hanviet {
  color: #dcd427;
  margin-right: 8px;
}

.DictPane-info {
  display: flex;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden;
}

.DictPane-line {
  display: flex;
  flex-direction: row;
}

.DictPane-pinyin {
  display: inline-block;
  color: #779933;
  margin-right: 8px;
}

.DictPane-meaning {
  flex: 1;
  display: inline-block;
  color: rgba(255, 255, 255, .8);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
