.Settings {
  position: fixed;
  background-color: lighten(#282c34, 6%);
  top: 67px;
  right: 16px;
  z-index: 2000;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, .1);
  color: rgba(255, 255, 255, 0.6);
  font-size: .3rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Settings>section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.Settings>section>span {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

.Settings select {
  min-width: 130px;
}
