 /* Colors: https://developer.blackberry.com/design/bb10/color.html */

 .App-output *::selection {
   /* background-color: rgba(255, 255, 255, .2);
   color: rgba(255, 255, 255, .8); */
 }

.Word {
  position: relative;
  display: inline;
  /* color: rgba(255, 255, 255, .7); */
  /* background-color: rgba(255, 255, 255, .05); */
  color: rgba(255, 255, 255, .4);
  transition: all .3s ease-in-out;
  margin-right: 4px;
  line-height: 1.5em;
}

.Word-vocabulary,
.Word:not(.Word-matched) {
  color: rgba(255, 255, 255, .7);
  /* background-color: transparent; */
}

.Word-matched {
  cursor: pointer;
  /* may need this for IE */
  /* border-bottom-width: 2px; */
  /* border-bottom-style: solid; */
  /* margin-right: .05rem; */
}

/* .Word-matched span, */
.Word-matched {
  text-decoration: underline;
  text-underline-offset: .12em;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(255, 255, 255, .3);
}

/* .Word-level-4.Word-matched span, */
.Word-level-4.Word-matched {
  /* may need this for IE */
  /* border-bottom-color: rgba(255, 255, 255, 0); */
  text-decoration-color: rgba(255, 255, 255, 0);
}

.Word.Word-level-4.Word-matched span:after {
  opacity: 0;
}

.Word span {
  position: relative;
}

.Word span:after {
  content: attr(annotation);
  position: absolute;
  top: -0.9em;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: .3rem;
  text-decoration: none;
  text-align: center;
  line-height: normal;
}

.Word.Word-level-4.Word-matched:hover span:after {
  /* opacity: 1; */
}

.Word-matched:hover {
  color: #0092cc;
  opacity: .8;
}

.Word-vocabulary.Word-matched:hover {
  opacity: 1;
}

/* .Word-matched:hover span, */
.Word-matched:hover {
  /* use border for IE */
  /* border-color: #0092cc; */
  text-decoration-color: #0092cc;
}

.Word-line-break {
  display: block;
  margin-bottom: 60px;
}
