 /* Colors: https://developer.blackberry.com/design/bb10/color.html */

.Word {
  position: relative;
  display: inline-block;
  color: var(--text-color-light);
  transition: all .3s ease-in-out;
  margin-right: 4px;
  line-height: 1.8em;
}

.Word-matched {
  text-decoration: underline;
  text-underline-offset: .12em;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--text-underline-color-light);
}

.Word-vocabulary,
.Word:not(.Word-matched) {
  color: var(--text-color);
  text-decoration-color: var(--text-underline-color);
}

.Word-matched {
  cursor: pointer;
  /* may need this for IE */
  /* border-bottom-width: 2px; */
  /* border-bottom-style: solid; */
  /* margin-right: .05rem; */
}

.Word-level-4.Word-matched {
  /* may need this for IE */
  text-decoration-color: transparent;
}

.Word.Word-level-4.Word-matched span:after {
  opacity: 0;
}

.Word span {
  position: relative;
}

.Word span:after {
  content: attr(annotation);
  position: absolute;
  top: -0.8em;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: .3rem;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  transition: opacity .3s ease-in-out;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Word span:before {
  content: attr(annotation2);
  position: absolute;
  bottom: -0.9em;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: .24rem;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  transition: opacity .3s ease-in-out;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.Word.Word-level-4.Word-matched:hover span:after {
  /* opacity: 1; */
}

.Word-matched:hover {
  color: #0092cc;
  opacity: .8;
}

.Word-vocabulary.Word-matched:hover {
  opacity: 1;
}

/* .Word-matched:hover span, */
.Word-matched:hover {
  /* use border for IE */
  /* border-color: #0092cc; */
  text-decoration-color: #0092cc;
}

.Word-line-break {
  display: block;
  margin-bottom: 60px;
}
