 /* Colors: https://developer.blackberry.com/design/bb10/color.html */

.Word {
  position: relative;
  display: inline-block;
  transition: all .3s ease-in-out;
  margin-right: 2px;
  margin-bottom: 2px;
  line-height: 1.8em;
  border-radius: 10px;
  color: var(--text-color);
  border: 2px solid transparent;
}

.Word-matched {
  /* text-decoration: underline; */
  /* text-underline-offset: .12em;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--text-underline-color-light); */
}

.Word-recommended {
  /* color: var(--tertiary-color); */
  background-color: rgb(119, 153, 51, .15);
  /* background-color: rgba(0, 146, 204, .2); */
  /* background-color: rgba(0, 0, 0, .075); */
  /* background-color: rgba(0, 0, 0, .1); */
}

/* .Word-recommended:after {
  content: '•';
  position: absolute;
  font-size: .5rem;
  top: 5px;
  right: 5px;
  line-height: 12px;
  color: var(--primary-color);
} */

.Word-new {
  /* color: var(--text-color-light); */
  background-color: rgba(0, 0, 0, .1);
}

.Word-vocabulary.Word-level-0 {
  background-color: rgba(0, 146, 204, .25);
}

.Word-vocabulary.Word-level-1 {
  background-color: rgba(0, 146, 204, .20);
}

.Word-vocabulary.Word-level-2 {
  background-color: rgba(0, 146, 204, .15);
}

.Word-vocabulary.Word-level-3 {
  background-color: rgba(0, 146, 204, .1);
}

.Word-vocabulary,
.Word:not(.Word-matched) {
  text-decoration-color: var(--text-underline-color);
}

.Word-matched:not(.Word-vocabulary) {

}

.Word-matched {
  cursor: pointer;
  /* may need this for IE */
  /* border-bottom-width: 2px; */
  /* border-bottom-style: solid; */
  /* margin-right: .05rem; */
}

.Word-selected {
  color: var(--primary-color);
  text-decoration-color: var(--primary-color);
  border-color: var(--primary-color);
}

.Word-hovered {
  color: var(--primary-color);
  text-decoration-color: var(--primary-color);
}

.Word-level-4.Word-matched:not(.Word-selected):not(.Word-hovered) {
  /* may need this for IE */
  text-decoration-color: transparent;
}

.Word span {
  position: relative;
}

.Word span:after {
  content: attr(annotation);
  position: absolute;
  top: -0.8em;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: .3rem;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  transition: opacity .3s ease-in-out;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Word span:before {
  content: attr(annotation2);
  position: absolute;
  bottom: -0.9em;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: .24rem;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  transition: opacity .3s ease-in-out;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.Word.Word-level-4.Word-matched:hover span:after {
  /* opacity: 1; */
}

.Word-matched:hover {
  /* opacity: .75; */
}

.Word-vocabulary.Word-matched:hover {
  opacity: 1;
}

/* .Word-matched:hover span, */
.Word-matched:hover {
  /* use border for IE */
  /* border-color: #0092cc; */
  /* text-decoration-color: var(--secondary-color); */
}

.Word-line-break {
  display: block;
  margin-bottom: 60px;
}

.Word-action-popup {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-color: var(--modal-background-color);
  box-shadow: 0 0 20px 0px var(--paper-shadow-color);
  border-radius: 7px;
  padding: 22px;
  font-size: .2rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  color: var(--primary-color);
  white-space: nowrap;
  transition: all .3s ease-in-out;
  user-select: none;
  animation: fadein .3s ease-in-out;
}

.Word-action-popup:hover {
  color: var(--text-color);
}

.Word-action-popup::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 0px;
  border-top: 10px solid var(--modal-background-color);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
