.App {
  max-height: 100vh;
  overflow: scroll;
}

.App-input {
  display: none;
}

.App-output {
  display: flex;
  overflow-y: scroll;
  min-height: 100vh;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .App-output {
    padding-right: 320px;
  }
}

.App-paper {
  flex: 1;
  font-size: 1rem;
  background-color: var(--paper-background-color);
  box-shadow: 0px 6px 12px 3px var(--paper-shadow-color);
  color: var(--text-color);
  padding: 53px;
  margin: 22px;
  overflow-wrap: anywhere;
}

.App-output {
  /* user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}

.App-output *::selection {
  background-color: rgba(0, 0, 0, .1);
}
